@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500&family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


:root{
    --primary-color: #05c557;
    --secondary-color: #10ab53;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Assistant', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1, h2{
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.h2{
    font-size: 40px;
    font-weight: bold;
}


.lead{
    font-size: 16px;
    color: #808080;
    font-weight: 100;
}


/* Utilities */
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box-shadow{
    box-shadow: 20px 0 20px rgba(0, 0, 0, 0.2);
}

.btn{
    padding: 10px 20px;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
}

.btn-light{
    background: #fff;
    color: var(--primary-color);
    padding: 15px 30px;
    font-size: 20px;
}

/* Header */
.header{
    background-image: url(/img/mobile-header-bg-lg.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 1740px 869px;
    padding: 28px 28px 0;
    overflow: hidden;
}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header .navbar .logo{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 40px;
}

.header .navbar ul{
    display: flex;
}

.header .navbar .left-side{
    flex: 1;
    margin-left: 80px;
}

.header .navbar ul li{
    margin: 0 20px;
}

.header ul li a{
    color: #fff;
}

.header .navbar .left-side a{
    border-bottom: 2px solid;
    border-color: #05c557;
    padding-bottom: 5px;
    transition: all .5s;
}

.header .navbar .left-side a:hover{
    border-color: #fff;
}

.header .hero-section .text-content{
    color: #fff;
    margin-bottom: 200px;
}

.header .hero-section .text-content h1{
    font-size: 50px;
    font-weight: 600;
}

.header .hero-section .text-content h2{
    margin: 30px 0;
}

.header .hero-section img{
    width: 600px;
    justify-self: flex-end;
}

/* Section A */
.section-a img{
    width: 600px;
    justify-self: flex-start;
}

.section-a .text-content{
    justify-self: flex-end;
}

/* Section B */
.section-b{
    background: #f7f7f7;
    min-height: 770px;
    padding: 2rem;
    border-top-left-radius: 200px;
}

.section-b img{
    width: 600px;
}


/* Section C */
.section-c{
    background: var(--primary-color);
    min-height: 600px;
    border-bottom-right-radius: 200px;
    color: #fff;
    padding: 2rem;
}

.section-c img{
    width: 600px;
}


.section-c p{
    color: #fff;
}

/* section D */
.section-d{
    padding: 2rem;
}

.section-d img{
    width: 600px;
}

/* Section E */
.section-e{
    background: url(/img/mobile-footer-bg-lg.png)no-repeat;
    background-position: 0 0;
    background-size: 1740px 870px;
    padding: 100px 24px 0;
    color: #fff;
    min-height: 800px;
}

.section-e .grid{
    margin-left: 80px;
    justify-content: center;
}

.section-e .grid .text-content{
    max-width: 300px;
}

.section-e .under{
    text-align: center;
    margin-top: 100px;
}

/* Footer */
.footer{
    padding: 4rem 2rem 0;
}

.footer .social-icons{
    text-align: center;
}

.footer .social-icons i{
    margin-right: 10px;
    color: #000;
    margin-bottom: 40px;
}

.footer .image-link{
    max-width: 200px;
    margin: 0 auto;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-bottom: 2px solid #eee;
    margin-bottom: 40px;
    padding:  40px 0;
}

.footer-content ul li h2{
    margin-bottom: 20px;
}

.footer-content ul li a{
    line-height: 2.5;
    color: #aaa;
    font-weight: 100;
}

.footer .footer-message{
    color: #aaa;
    font-size: 13px;
    font-weight: 100;
}

.footer .footer-message .end{
    text-align: center;
    margin-top: 20px;
}


@media(max-width: 968px){
    .grid{
        grid-template-columns: 1fr;
    }

    .header .hero-section .text-content{
        color: #fff;
        margin: 50px 0px 0;
        text-align: center;
    }

    .header .hero-section img,
    .section-a img{
        width: 600px;
        justify-self: center;
    }

    .section-a .grid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-b .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-c .grid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-d .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header .hero-section img,
    .section-a img,
    .section-b img,
    .section-c img,
    .section-d img{
        width: 400px;
    }

    .section-e{
        padding: 40px 24px 0;
    }

    .section-e .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-e img{
        width: 300px;
    }

    .header .navbar .left-side{
        display: none;
    }

    
}